<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>

    <title>Portfolio</title>
</head>
<body>
   <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="img"></div>
                    <div class="info">
                        <span class="text_1">Marcos</span>
                        <span class="text_2">Heart</span>
                    </div>
                    <div class="socials">
                        <div class="img_1">
                            <div class="fb"></div>
                        </div>
                        <div class="img_2"></div>
                        <div class="img_3"></div>
                        <div class="img_4"></div>
                        <div class="img_5"></div>
                        <div class="img_6"></div>
                    </div>
                </div>
                <div class="marginer1"></div>
                <div class="left_2">
                    <div class="text1">
                        <span class="span1">Age:</span>
                        <span>24</span>
                    </div>
                    <div class="text2">
                        <span class="span2">Residence:</span>
                        <span>BD</span>
                    </div>
                    <div class="text3">
                        <span class="span3">Freelance:</span>
                        <span>Available</span>
                    </div>
                    <div class="text4">
                        <span class="span4">Address:</span>
                        <span>Dhaka, Bangladesh</span>
                    </div>
                </div>
                <div class="marginer2"></div>
                <div class="left_3">
                    <div class="lang">
                        <span>Language</span>
                    </div>
                    <div class="lang1">
                        <span class="span1">Bangla</span>
                        <span>100%</span>
                    </div>
                    <div class="lin1"></div>
                    <div class="lang2">
                        <span class="span1">English</span>
                        <span>80%</span>
                    </div>
                    <div class="lin1"></div>
                    <div class="lang3">
                        <span class="span1">Spanish</span>
                        <span>60%</span>
                    </div>
                    <div class="lin1"></div>
                </div>
                <div class="marginer3"></div>
                <div class="left_4">
                    <div class="txt">
                        <span>Skills</span>
                    </div>
                    <div class="txt1">
                        <span class="span1">HTML</span>
                        <span>90%</span>
                    </div>
                    <div class="lin1"></div>
                    <div class="txt2">
                        <span class="span1">CSS</span>
                        <span>85%</span>
                    </div>
                    <div class="lin1"></div>
                    <div class="txt3">
                        <span class="span1">JS</span>
                        <span>80%</span>
                    </div>
                    <div class="lin1"></div>
                    <div class="txt4">
                        <span class="span1">PHP</span>
                        <span>75%</span>
                    </div>
                    <div class="lin1"></div>
                    <div class="txt5">
                        <span class="span1">WordPress</span>
                        <span>85%</span>
                    </div>
                    <div class="lin1"></div>
                </div>
                <div class="marginer3"></div> 
                <div class="marginer4"></div>
                <div class="left_5">
                    <div class="row">
                        <span>Extra Skills</span>
                    </div>
                    <div class="row1">
                        <div class="img"></div>
                        <span>Bootstrap, Materialize</span>
                    </div>
                    <div class="row2">
                        <div class="img"></div>
                        <span>Stylus, Sass, Less</span>
                    </div>
                    <div class="row3">
                        <div class="img"></div>
                        <span>Gulp, Webpack, Grunt</span>
                    </div>
                    <div class="row4">
                        <div class="img"></div>
                        <span>GIT Knowledge</span>
                    </div>
                </div>
                <div class="marginer5"></div>
            </div>
        <div class="middle_frame"></div>
        <div class="right_frame"></div>
        </div>
    </div>    
</body>
</html>